* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    line-height: 1.6;
}

/* HERO SECTION */

.hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
    background: linear-gradient(to right, #0f172a, #1e293b);
}

.hero-content {
    max-width: 800px;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    color: #cbd5e1;
    margin-bottom: 30px;
}

.hero-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.btn {
    padding: 14px 28px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.primary-btn {
    background: #2563eb;
    color: white;
}

.primary-btn:hover {
    background: #1d4ed8;
}

.secondary-btn {
    background: #334155;
    color: white;
}

.secondary-btn:hover {
    background: #475569;
}

/* FEATURES */

.features {
    padding: 80px 10%;
}

.features h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.feature-card {
    background: #1e293b;
    padding: 30px;
    border-radius: 15px;
    transition: 0.3s;
}

.feature-card:hover {
    transform: translateY(-10px);
}

.feature-card i {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #3b82f6;
}

.feature-card h3 {
    margin-bottom: 15px;
}

/* screenshots */

.screenshots {
    padding: 80px 10%;
    text-align: center;
}

.screenshots h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.screenshot-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 25px;
}

.screenshot-grid img {
    width: 100%;
    border-radius: 15px;
    transition: 0.3s;
    border: 2px solid #1e293b;
}

.screenshot-grid img:hover {
    transform: scale(1.03);
}


/* TECH STACK */

.tech-stack {
    padding: 80px 10%;
    background: #111827;
    text-align: center;
}

.tech-stack h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.tech-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.tech-container span {
    background: #1e293b;
    padding: 12px 22px;
    border-radius: 30px;
}

/* PROJECT STRUCTURE */

.project-structure {
    padding: 80px 10%;
}

.project-structure h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
}

.code-box {
    background: #111827;
    padding: 30px;
    border-radius: 15px;
    overflow-x: auto;
}

/* FUTURE */

.future {
    padding: 80px 10%;
    background: #111827;
}

.future h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
}

.future-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.future-item {
    background: #1e293b;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
}

/* FOOTER */

footer {
    text-align: center;
    padding: 40px 20px;
    background: #020617;
}

footer h3 {
    margin-bottom: 10px;
}

footer p {
    color: #94a3b8;
    margin-bottom: 20px;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-links a {
    color: white;
    font-size: 1.5rem;
    transition: 0.3s;
}

.footer-links a:hover {
    color: #3b82f6;
}

/* RESPONSIVE */

@media(max-width: 768px) {

    .hero h1 {
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 1rem;
    }
}